h1 {
    color: red;
    text-align: center;
    font-size: 60px;
    border: 2px solid blue;
}

h2 {
    color: aqua;
    background-color: orchid;
    text-align: center;
    font-size: 50px;
    border: 2px solid red;
}